@font-face {
  font-family: 'FuturaBookC';
  src: url('FuturaBookC.woff2') format('woff2'),
      url('FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaMediumC';
  src: url('FuturaMediumC.woff2') format('woff2'),
      url('FuturaMediumC.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaDemiC';
  src: url('FuturaDemiC.woff2') format('woff2'),
      url('FuturaDemiC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

