@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../fonts/fonts.css');

$bgcolor: #353535;
$white: #ffffff;
$black: #000000;
$orange: #fa782e;
$red: #f35e3d;
$darkred: #c82930;
$green: #11e95b;
$yellow: #ffd414;
$grey: #acacab;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bgcolor;
}

fieldset {
    border: none;
}

input {
    display: none;
}

.container {
    width: 280px;
    height: 500px;
    margin: 30px auto;
}

.bold {
    font-weight: 900;
}

.product-item {
    position: relative;
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.product-item__logo {
    width: 55px;
    height: 20px;
    margin: 20px 20px 20px 0;
}

.product-item__img {
    width: 350px;
    transform: rotate(35deg);
    position: absolute;
    top: -34px;
    left: 88px;
    z-index: 1;
}

.product-item__header {
    height: 252px;
    background: $orange;
    background: linear-gradient(135deg, $orange 8%, $darkred 83%);
    border-radius: 25px 25px 0 0;
    color: $white;
    padding: 0 20px;

    h2 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        font-size: 11px;
    }

    .bg-text {
        position: absolute;
        left: -8px;
        top: 115px;
        font-size: 125px;
        font-weight: 900;
        color: $black;
        opacity: 0.1;
    }
}

.product-item__description {
    height: 255px;
    padding: 0 20px;
    font-size: 11px;
    text-transform: uppercase;
    background: $white;
    border-radius: 0 0 25px 25px;
}

.product-item__title {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;

    .badge {
        position: absolute;
        font-size: 10px;
        font-weight: 300;
        color: $white;
        background: $green;
        border-radius: 4px;
        padding: 2px 5px;
        margin-left: 10px;
    }
}

.product-item__sub-title {
    padding: 5px 0;
    font-size: 10px;
    font-weight: 400;
}

.product-item__rating {

    .fa-star {
        color: $grey;
    }

    .checked {
        color: $black;
    }

}

form {
    p {
        padding: 20px 0;
        margin: 0;
        font-weight: 700;
    }
}

.product-item__size {
    label {
        padding: 20px;
        position: relative;

        span {
            width: 22px;
            height: 22px;
            position: absolute;
            line-height: 23px;
            text-align: center;
            border-radius: 50%;
            font-size: 11px;
            left: 0;
            cursor: pointer;
        }
    }

    .size input:checked+span {
        background: $red;
        color: $white;
    }
}

.product-item__color {
    label {
        padding: 20px;
        position: relative;
    }

    span {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        font-size: 11px;
        cursor: pointer;
    }

    .red {
        background-color: $red;
    }

    .green {
        background-color: $green;
    }

    .yellow {
        background-color: $yellow;
    }

    .color {
        input:checked+span::before {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }

        input:checked+.red::before {
            border: 1px solid $red;
        }

        input:checked+.green::before {
            border: 1px solid $green;
        }

        input:checked+.yellow::before {
            border: 1px solid $yellow;
        }
    }
}

.product-item__price {
    position: absolute;
    top: 429px;
    left: 139px;
    background: $green;
    color: $white;
    padding: 7px 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    border-radius: 7px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);

    .bold {
        margin-left: 5px;
    }
}