@media screen and (max-width:768px) {
    h2 {
        line-height: normal;
    }

    .header-container {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    nav {
        width: 100%;
        position: relative;
    }

    nav ul {
        flex-direction: column;
    }

    nav>ul>li {
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    ul ul {
        position: relative
    }

    ul ul>li {
        padding: 0;
    }

    nav a {
        padding: 15px 0;

        &:hover {
            background: $blue;
            color: $white;
        }
    }


    .toggle {
        color: $bgblack;
        clear: both;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -35px;
        right: 0;

        &:hover {
            background: $white;
        }
    }

    #checkbox1:checked+label+ul.menu>li {
        opacity: 1;
        visibility: visible;
        height: auto;
    }


    .banner {
        padding: 20px 0;

        .btn {
            margin-top: 10px
        }

        .banner__heading {
            font-size: 40px;
            padding: 0;
            line-height: 1;
        }

        .banner__sub-heading {
            font-size: 20px;
            margin: 0;
        }
    }

    .section {
        padding: 10px;

        .section__heading {
            margin: 20px 0;
        }
    }

    .introduction__wrapper {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        padding-bottom: 10px;

        img {
            width: 100%;
        }
    }

    .copyright {
        padding: 15px 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 960px) {

    .header-container {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    nav {
        width: 100%;
        position: relative;
    }

    nav ul {
        flex-direction: column;
    }

    nav>ul>li {
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    ul ul {
        position: relative
    }

    ul ul>li {
        padding: 0;
    }

    nav a {
        padding: 15px 0;

        &:hover {
            background: $blue;
            color: $white;
        }
    }


    .toggle {
        color: $bgblack;
        clear: both;
        display: block;
        text-align: center;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -35px;
        right: 0;

        &:hover {
            background: $white;
        }
    }

    #checkbox1:checked+label+ul.menu>li {
        opacity: 1;
        visibility: visible;
        height: auto;
    }

    .banner {
        padding: 120px 0;

        .banner__heading {
            padding-bottom: 0;
        }
    }

    .section__heading {
        margin-bottom: 30px;
    }

    .introduction__wrapper {
        justify-content: space-around;
    }

    .services .services__wrapper .services__item {
        max-width: 100%;
        padding-bottom: 20px;
    }

    .footer__wrapper .footer__item {
        width: 33.3%;
        padding: 20px;
        justify-content: space-between;
    }

    .copyright {
        padding: 15px 0;
    }
}