@font-face {
    font-family: 'FuturaBookC';
    src: url("/Task1.1/fonts/FuturaBookC.woff2") format("woff2"), url("/Task1.1/fonts/FuturaBookC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    text-align: center;
    font-size: 84px;
    font-family: 'FuturaBookC', sans-serif;
}
nav, footer{
    height: 100px;
}
header{
    background: violet;
}
nav{
    background: wheat;
}
section, article{
    height: 200px;
}
section{
    background: coral;
}
article{
    background: darkgray;
}
footer{
    background: darkslategray;
}